# Created by https://www.gitignore.io/api/packer
# Edit at https://www.gitignore.io/?templates=packer

.env.cmd

### Packer ###
# Cache objects
packer_cache/
builds/

# For built boxes
boxes/
*.box
*.ova

*.log

# End of https://www.gitignore.io/api/packer
